<div class="profile-info grid">
						<div class="profile-img">
						</div>
						<div class="profile-bottom">
							<ul>
								<li>
									<%= image_tag("img1.jpg", alt: "") %>
								</li>
								<li>
									<a href="#">1 hour ago</a>
								</li>
								<li>
									<a href="#"><span class="glyphicon glyphicon-heart"></span></a>
								</li>
								<li>
									<a href="#" class="active"><span class="glyphicon glyphicon-comment"></span></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
