<article class="post  event-27137 ">
    <div class="event_img"> 
       <a href="https://demo.templatic.com/eventum/city/new-york/eventjames-darren-music-sal-richards-comedy/">
       <%= image_tag "img10.pjg", itemprop:"image", alt: "", title: "event-(16)" %>
       </a>
    </div>
    <div class="entry">
        <!--start post type title -->
        <div class="event-wrapper">
            <div class="event-title">
                <span class="date"> 08<span>Jul</span></span>
        <h2 class="">
            <a itemprop="url" href="" title="James Darren (music) &amp; Sal Richards (comedy)" rel="bookmark">James Darren (music) &amp; Sal Richards (comedy)</a></h2>
        <div class="listing_rating">
            <div class="directory_rating_row"><span class="single_rating"> <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i> </span></div>
        </div>
    </div>
    <!--end post type title -->
    <!-- Entry details start -->
    <div class="entry-details">
        <p class="address" itemprop="address">222-05 56th Avenue Bayside, NY 11364</p><p class="event_date"><span><span itemprop="startDate" content="2014-07-08T15:00">Jul 8, 2014</span> To <span itemprop="endDate" content="2019-07-08T17:00">Jul 8, 2019</span></span></p><p class="time"><span>3:00 pm To 5:00 pm</span></p><!--googleoff: all--><p class="phone">+86 10 6538 5537</p><!--googleon: all--> </div>
    </div>

    <!--Start Post Content -->
    <div class="rev_pin">
        <ul> 
            <li class="favourite">
               <span id="tmplfavorite_27137" class="fav fav_27137">
               <a href="javascript:void(0);" data-reveal-id="tmpl_reg_login_container" id="tmpl_login_frm_27137" data-id="27137" class="addtofav  small_btn" onclick="javascript:addToFavourite('27137','add');">Add to favorites</a></span>
            </li>
                         
            <li class="review"> <a id="reviews_show" href="https://demo.templatic.com/eventum/city/new-york/event/james-darren-music-sal-richards-comedy/#comments">8 &nbsp;</a></li>
             
            <li class="pinpoint"><a id="pinpoint_27137" class="ping" href="https://demo.templatic.com/eventum/city/new-york/ecategory/events/#map_canvas">Pinpoint</a></li>               
        </ul>
    </div>                         
</div>
</article>